@font-face {
    font-family: 'pixelart';
    src: url('../../../../fonts/pixelart-font.ttf') format('truetype');
  }

  .basic-container {
    background-color: rgba(0, 0, 0, 0);
  }

  * {
    font-family: pixelart;
    color: white;
    text-shadow: 4px 3px 0px #3b3b3b;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

#amount {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3.0vw;
    align-items: center;
    margin-top: 0.3vw;
}

#amount>p {
    margin: 0;
    padding: 0;
}

#block {
    grid-area: 1 / 2 / 2 / 3;
    width: auto;
}
#block>img {
    height: 10.0vw;
    width: auto;
}

span {
    display: inline-flex;
    vertical-align: top;
}

#description {
    grid-area: 1 / 3 / 2 / 4;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 3.0vw;
    align-items: center;

}
#description>p:first-of-type {
    margin-top: 1.5vw;
    margin-bottom: 0;
}

#timer {
    margin: 0;
    font-size: 1.7vw;
}