@font-face {
  font-family: 'pixelart';
  src: url('../../fonts/pixelart-font.ttf') format('truetype');
}

.container {
  margin: 0;
  font-family: pixelart;
  font-size: 8.0vw;
}

p {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline;
  -webkit-text-fill-color: transparent;
}